@import "./variables/colors";
@import "./variables/fonts";
@import "./variables/mixins";

.header {
    position: absolute;
    width: 100%;
    z-index: 100;
}

.nav-container {
    @include flex-center;
    justify-content: space-between;
    font-family: $font-poppins;
}

.menu {
    @include flex-center;

    .menu-icon {
        font-size: 50px;
        color: $main-color;
        cursor: pointer;
        margin-left: 1rem;
    }
}

.logo {
    h1 {
        margin-left: 1rem;
        color: $main-color;
    }
}

.right ul {
    @include flex-center;
    margin-right: 3rem;
    list-style: none;

    li a {
        text-decoration: none;
        color: $main-color;
        margin: 2rem;
        text-transform: uppercase;
    }
}
